/* 
 * 수정 자유롭게 해주셔도 괜찮습니다 :)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.form-container {
  width: 364px;
  height: 44px;
  margin: 0 auto 20px auto;
  padding-right: 13px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #dedede;
  position: relative;
}

.form-container:focus-within {
  border: 1px solid #9f9f9f;
}

.form-container:hover {
  box-shadow: 0 0 0 2px #dedede inset;
  border: 1px solid #dedede;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
  background-color: transparent;
}

.input-text::placeholder {
  color: #9f9f9f;
}

.input-submit {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.btn-plus {
  color: darkcyan;
  font-size: 20px;
}

.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}

.empty-list {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  margin-left: 0.75rem;
  color: #ececec;
}

.item {
  list-style-type: none;
  padding: 17px 1.5rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
.item:hover {
  opacity: 0.85;
  background-color: #eaeaea;
}

.item-option {
  float: right;
}

.item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spinner {
  font-size: 20px;
  animation: spin 2s linear infinite;
  display: flex;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}

.search {
  width: 20px;
  height: 20px;
  margin: auto 0;
  color: #7d7d7d;
  margin-left: 13px;
}

.dropdown {
  width: 364px;
  height: 164px;
  border: 1px solid #dedede;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px #dedede;
  padding-right: 4px;
}

.dropdown-inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.dropdown-inner::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
}

.dropdown-inner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 2px;
}

.search-list {
  margin: 9px 5px;
  list-style: none;
}

.search-item {
  width: 100%;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 3px;
  line-height: 1;
  background-color: transparent;
  border: 0;
  text-align: start;
}

.search-item:hover {
  background-color: #f2f2f2;
}

.search-item:focus {
  background-color: #d5f4f1;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.highlight-keyword {
  color: #2bc9ba;
}

.observer {
  display: flex;
  justify-content: center;
}
